<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head_declaration">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">

    <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<header th:fragment="header">
    <nav class="navbar-fixed header-fixed">
        <div class="nav-wrapper blue darken-3">
            <div>
                <a href="#" class="brand-logo">
                    <img class="logo-text" th:src="@{/img/logo-text.png}">
                </a>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
                <li><a href="#">Option 3</a></li>
            </ul>
        </div>
    </nav>
</header>

<div th:fragment="aside">
    <ul id="slide-out" class="sidenav sidenav-fixed side-nav">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>

</body>
</html>