<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header :: head_declaration}"></head>
<body>
<header th:replace="~{header :: header}"></header>


<div class="container main-content ">

    <div class="z-depth-2 white m_T2em p_50px">
        <div class="center">
            <div>Page title</div>
        </div>

        <div>
            <div class="row">
                Body content
            </div>
        </div>
    </div>

</div>


<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>