<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header :: head_declaration}"></head>
<body>
<header th:replace="~{header :: header}"></header>
<header th:replace="~{header :: aside}"></header>


<div class="content-container" style="padding-left: 300px">
    <div class=" main-content ">
        <div class="z-depth-2 white m_T2em p_25px">
            <div class="center">
                <h5>Page title</h5>
            </div>

            <div>
                <div class="row">
                    Body content
                </div>
            </div>
        </div>

    </div>
</div>


<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>